<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="/dist2/css/demo.css" media="screen" />
		<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="/dist2/js/highlight.pack.js"></script>
		<script src="/dist2/js/demo.js"></script>
		<script src="/dist2/js/jquery.cookie.js"></script>
		<script type="text/javascript" src="/dist2/js/jquery.navgoco.js"></script>
		<link rel="stylesheet" type="text/css" href="/dist2/css/jquery.navgoco.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/dist/css/lightbox.css" media="screen" />

<script type="text/javascript" id="demo1-javascript">
$(document).ready(function() {
	// Initialize navgoco with default options
	$("#demo1").navgoco({
		caretHtml: '',
		accordion: false,
		openClass: 'open',
		save: true,
		cookie: {
			name: 'navgoco',
			expires: false,
			path: '/'
		},
		slide: {
			duration: 400,
			easing: 'swing'
		},
		// Add Active class to clicked menu item
		onClickAfter: function(e, submenu) {
			e.preventDefault();
			$('#demo1').find('li').removeClass('active');
			var li =  $(this).parent();
			var lis = li.parents('li');
			li.addClass('active');
			lis.addClass('active');
		},
	});

	$("#collapseAll").click(function(e) {
		e.preventDefault();
		$("#demo1").navgoco('toggle', false);
	});

	$("#expandAll").click(function(e) {
		e.preventDefault();
		$("#demo1").navgoco('toggle', true);
	});
});
</script>
<script type="text/javascript" id="demo2-javascript">
$(document).ready(function() {
	$("#demo2").navgoco({accordion: true});
});
</script>
	</head>
	<body>
	<div id="sidebar" class="sidebar bcolour">
	<ul id="demo1" class="nav">
	{% assign sorted_collections = site.collections | sort: "position" %}
	{% for collection in sorted_collections %}
		{% if collection.label != "posts" %}
				<li>
				<a href="#">{{ collection.title }}</a>
				<ul>
				<li>
				{% assign sorted_docs = collection.docs | sort: "position" %}
					{% for doc in sorted_docs %}
							<a href="{% if page.url != '/' %}/{% endif %}#{{ doc.id | replace: '/', '' | replace: '.', '' }}">
							{{ doc.title }}
							</a>
							</li>
								{% if doc.type %}<span class="endpoint {{ doc.type }}"></span>{% endif %}
						</li>
					{% endfor %}
				</ul>
		{% endif %}
	{% endfor %}
	</ul>
</div>

</p>
</body>

</html>